.main-container {
    background-color: black;
    

}

.block-jeu {
    width: 500px;
    height: auto;
    display: flex;    
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.nomdujeu {
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    color: white;
    border-radius: 25px 25px 0px 0px;
}

h1 {
    font-size: 2em;    
    text-transform: uppercase;
}

.fenetre-jeu {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-content: center;
    background-color: #c5c5c5;


}

.choix {
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #393939d7;   
}

button:hover {
    background-color: #f2911b;    
}

.resultat {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    border-radius: 0px 0px 25px 25px;
}

.block-resultat {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    margin-top: 15px;
    border: none;
    border-radius: 15px;

}
